#---- App settings ----
JAVA_LIB_DIR=":/"
LOG_LEVEL=DEBUG
JAVA_MAX_HEAP_SIZE="4096m"  # Maximum heap size for the JVM
JAVA_INITIAL_HEAP_SIZE="1024m"  # Initial heap size for the JVM


RESULT_CACHE_HOST="redis"
RESULT_CACHE_PORT=6379
RESULT_CACHE_DB=1
RESULTS_CACHE_TTL=365
RESULT_CACHE_PASSWORD=
RESULTS_TEMP_TTL_HOURS=48

CELERY_BROKER_HOST="redis"
CELERY_BROKER_PORT=6379
CELERY_BROKER_DB=0

JOB_STATUS_TTL_DAYS=365

CELERY_BROKER_PASSWORD=
CELERY_RESULTS_TTL_DAYS=365
CELERY_TASK_TLIMIT_HARD=900
CELERY_TASK_TLIMIT_SOFT=600

#---- Docker build settings ----
# Do not mmodify unless you know what you are doing !
CONTAINER_REGISTRY=lgvudh.azurecr.io
IMAGE_NAME=noiseProcesses
IMAGE_TAG=
